@import "tailwindcss";
.Mainlayout {
height: auto;
width: 100%;
display: flex;
flex-direction: column;
font-family: "Cormorant Garamond", serif;
gap:5%;
}
main{
    background: #eedac7;
}
footer{
    background: #a85c16;
}

.Menulayout{
    height: auto;
    width: 100%;
    display: flex;
    font-family: "Cormorant Garamond", serif;
}